# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Virtual environment
venv/
.env/
.env.*  # for env variants like .env.development
bin/
bin.*
include/
include.*
lib/
lib.*

# VSCode or IDE config (optional)
.vscode/
.idea/

# Pytest / coverage files (if tests added later)
.cache/
*.cover
coverage.*
htmlcov/

# Mac OS metadata
.DS_Store

# Postman export backups (optional)
*.postman_collection.json~
*.postman_environment.json~

# Log files
*.log
